/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
